//search result table view

.etp-search-result-table{
        min-width:600px;
        //header
        th {
            background:$etp-medium-grey-c;
            color:$etp-white-c;
        }
}
.etp-table{
}