.etp-nav-gp{
    background:white;
    margin-bottom:0 !important;
    border:none !important;
    font-size:16px;
    span.fa{
        margin-right: 5px;
        font-size:18px;
    }
    .navbar-toggle{
        margin:5px 15px!important;
        float:left;
    }
}